doctype html
html
  head
    meta(charset="utf-8")
    title Link Pseudo Auth
    if recaptchaSiteKey != null
      script(src="https://www.google.com/recaptcha/api.js", async, defer)
  body
    h1 Authorization
    p #{domain} requires your permission. 
    form(method="POST")
      table
        tr
          th Handle
          td
            input(type="text", placeholder="your handle", name="handle", pattern="^[a-z0-9\-]{3,15}$", required, maxlength=15)
        tr
          th Password
          td
            input(type="password", placeholder="your password", name="password", minlength=8, required)
      if recaptchaSiteKey != null
        div.g-recaptcha(data-sitekey=recaptchaSiteKey)
      input(type="submit", value="Go")
            
