doctype html
html
  head
    meta(charset="utf-8")
    title Link Sign Up
  body
    h1 Sign Up
    form(method="POST")
      input(type="submit", value="Go")
      table
        tr
          th Handle
          td
            input(type="text", placeholder="your handle", name="handle", pattern="^[a-z0-9\-]{3,15}$", required, maxlength=15)
        tr
          th Name
          td
            input(type="text", placeholder="your name", name="name")
        tr
          th Password
          td
            input(type="password", placeholder="your password", name="password", required, minlength=8)